@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.leaflet-popup {
  bottom: 14px;
  left: -90px;
}

.leaflet-container {
  width: 100%;
  min-height: 90vh;
}

.leaflet-popup-content {
  margin: 0;
}

.leaflet-popup-content p {
  margin: 0;
}
